<h1>burger!</h1>
<ul>
    {{#each burger}}{{#unless devoured}}
    <li>
        {{this.id}}. {{this.burger_name}}

        <form class="col-md-12" action="/burger/update/{{this.id}}?_method=PUT" method="POST">
            <button class="btn btn-warning" type="submit">DEVOUR!</button>
        </form>
    </li>
    {{/unless}} {{/each}}
</ul>

<ul>Devoured {{#each burger}}{{#if devoured}}
    <li>
        {{this.id}}. {{this.burger_name}}

    </li>
    {{/if}} {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form col-md-12" action="/burger/add" method="POST">

    <div class="form-group">
        <label for="ca">Enter a burger you want to eat:</label>
        <input type="text" id="ca" name="burger_name">
    </div>

    <button type="submit">Add burger</button>
</form>